@media screen and (min-width: 480px) {
  .container {
    width: 428px;
  }

  /* ------------------Team------------------ */

  .team-list {
    justify-content: center;
  }
  .team-item {
    width: 264px;
    height: 428px;
  }
}

/* ----------------Portfolio---------------- */


/* -------------------Model------------------- */

.modal {
  width: 392px;
  height: 586px;
}